
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$icon-gray: #7e7e7e;
$btn-gradient: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);

.icon-gray {
    color: $icon-gray;
}

.icon-primary {
    color: $primary-color;
}
